Django==2.2.4
django-widget-tweaks==1.4.3
Pillow==8.2.0
pytesseract==0.2.6
pytz==2021.1
certifi==2020.12.5
chardet==4.0.0
idna
requests==2.25.1
urllib3==1.26.4
django-countries==7.2.1
django-crispy-forms==1.11.2
djangorestframewor==3.12.4
djangorestframework-simplejwt==4.6.0
textract==1.6.3
docx2txt==0.8
pandas==1.2.4
numpy==1.20.3
dframcy==0.1.6
